<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
   </configSections>
   <appSettings>
    <add key="Server" value="Server" />
    <add key="Database" value="Database" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
    
    <connectionStrings>
        <add name="ChamNet.Properties.Settings.QLSV_ninhConnectionString"
            connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QLSV_ninh;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>